body{
	font-size: 15px;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
/* блок nav */
nav{
	width: 100%;
}
nav .wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 10%;
	background: #fafafa;
}
nav .logo{
	display: flex;
	align-items: center;
	flex-grow: 1;
}
nav .title{
	margin-left: 10px;
}
nav .title .upper{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: 700;
	color: #293560;
}
nav .title .bottom{
	color: #293560;
	text-transform:none;
	letter-spacing: 1px;
	font-size: 12px;
}
nav menu{
	display: flex;
	flex-wrap: wrap;
}
nav menu li{
	list-style-type: none;
}
nav menu li a{
	text-decoration: none !important;
	font-size: 14px;
	color:#3b5998;
	padding: 7px 15px;
	border-right: 1px solid #3b5998;
	transition: all .2s;
}
nav menu li:last-child a{
	border-right: none;
}
nav menu li a:hover{
	color:#fff;
	background: #3b5998;
	border-radius: 5px;
}
/* блок nav */


/* блок main */
.main {
	min-height: 619px;
	background-image: url(../img/banner.jpg);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.main .wrapper{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}
.main .wrapper .coursename {
	text-transform: uppercase;
	font-size: 32px;
	display: inline-block;
	background-color: #f8f8f8;
	color:#3b5998;
	margin-top: 18%;
	padding: 12px 30px;
	border-radius: 8px;
}
.main .wrapper .courseinfo {
	text-transform: uppercase;
	font-size: 32px;
	background-color: #f8f8f8;
	color:#3b5998;
	display: inline-block;
	margin-bottom: 40px;
	padding: 12px 30px;
	border-radius: 8px;
}
.red-block{
	color:#ff4747;
}
.small-font{
	font-size: 18px;
	text-transform: none;
	vertical-align: middle;
}
.button{
	margin-top: 15px;
}
.button a{
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ff4747;
	color: #fff;
	font-size: 16px;
	padding: 10px 50px;
	border:1px solid #fff;
	border-radius: 8px;
	transition: all .3s;
}
.button a:hover{
	background: #ff6363;
}
/* блок main */


/* блок list1 */
.list1{
	background-image: url(../img/list.jpg);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5% 15% 5% 15%;
}
.list1 .wrapper{
	
	text-align: center;
	max-height: 576px;
	font-family: 'Roboto Condensed', sans-serif;
}
.title{
	color: #3b5998;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
}
.wrapper .list-wrap{
	margin-top: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wrapper .list-wrap .text{
	margin-left: 50px;
}
.wrapper .list-wrap .pic{
	display: block;
	float: left;
	margin-right: 15px;
	width: 36px;
	height: 40px;
	text-align: center;
}
.list1 .col1, .list1 .col2{
	width: 48%;
}
.list1 li{
	margin: 0 4% 30px;
	list-style-type: none;
	text-align: left;
}
.list1 p{
	color: #3b5998;
	font-family: 'Open Sans', sans-serif;
}
.list1 .col1 li .text-title, .list1 .col2 li .text-title{
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	color: #3b5998;
	text-align: left;
	font-size: 20px;
}
/* блок list1 */

/* блок carusel */






/* блок carusel */