.page-wrapper{
	width: 100%;
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
}
.navbar-default{
	background: #fafafa;
	border: none;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.navbar-header{
	padding-left: 7%;
}
.navbar-brand{
	height: auto;
}
.navbar-brand img{
	min-width: 54px;
	min-height: 54px;
	float: left;
}
.title{
	display: block;
	margin-top: 20px;
}
.title .top{
	color: #1a2755;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 18px;
}
.title .bottom{
	color: #1a2755;
	font-size: 13px;
}
.menu{
	margin-top: 2.5%;
	margin-right: 8%;
	float: right;
	display: inline-block;
}
.navbar-default .navbar-nav li a{
	font-family: 'Open Sans', sans-serif;
	border-left: 1px solid #94a4c6;
	text-decoration: none;
	list-style-type: none;
	padding: 9px 12px;
	font-size: 14px;
	color:#1a2755;
}
.navbar-default .navbar-nav li:first-child a{
	border-left: none;
}
.navbar-default .navbar-nav li a:hover{
	color:#fff;
	background-color: #3b5998;
	border-radius: 4px;
	transition: all .3s;
}
.navbar-default .navbar-nav li a:focus{
	color:#fff;
	background-color: #3b5998;
	border-radius: 4px;
	transition: all .3s;
}
.banner{
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: 60%;
	height: 619px;
	position: relative;
	text-align: center;
	padding-top: 250px;
	font-size: 2.5em;
}
.banner .coursename{
	display: inline-block;
	background: #f3f3f3;
	border-radius: 8px;
	margin-top: 3%;
	padding: 10px 35px;
	color: #ff4747;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}
.banner .coursename span{
	color: #3b5998;
	padding: 0 15px;
	line-height: 55px;
    vertical-align: middle;
}
.banner .courseinfo{
	display: inline-block;
	background: #f3f3f3;
	border-radius: 8px;
	padding: 10px 5px;
	color: #3b5998;
	font-family: 'Roboto Condensed', sans-serif;
}
.banner .courseinfo span{
	border-right: 1px solid #7f92ba;
	padding: 0 15px;
	line-height: 55px;
    vertical-align: middle;
}
.banner .courseinfo .red{
	color: #ff4747;
}
.banner .courseinfo .small-font{
	font-size: 27px;
	border-right: none;
}
.banner .red-button{
	margin-top: 25px;
	position: relative;
}
.banner .red-button a{
	padding: 10px 50px;
	background-color: #ff4747;
	color: #fff;
	border-radius: 8px;
	border: 1px solid #fff;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}
.banner .red-button:before{
	position: absolute;
	content: '';
	display: block;
	background: url(../img/line.png) no-repeat;
	width: 64px;
	height: 44px;
	transform: rotate(235deg);
	left: 370px;
}
.banner .red-button::after{
	position: absolute;
	content: '';
	display: block;
	background: url(../img/line2.png) no-repeat;
	width: 64px;
	height: 44px;
	transform: rotate(120deg);
	right: 370px;
	bottom: 5px;
}
.banner .red-button a:hover{
	background:#fd6f6f;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	-ms-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}
.list1{
	background-image: url(../img/list.jpg);
	background-repeat: no-repeat;
	background-position: 50%;
	height: 583px;
	padding: 50px 0;
	text-align: center;
}
.list1 span{
	text-transform: uppercase;
	font-size: 32px;
	color: #3b5998;
	font-family: 'Roboto Condensed', sans-serif;
}
.list1 .row{
	margin-top: 55px;
}
.list1 .row ul{
	list-style-type: none;
}
.list1 .row ul li{
	text-align: left;
	margin-bottom: 30px;
	vertical-align: top;
}
.list1 .pic{
	width: 35px;
	text-align: center;
}