.page-wrapper{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
.navbar-default{
	background: #fafafa;
	border: none;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.navbar-header{
	padding-left: 7%;
}
.navbar-brand{
	height: auto;
}
.navbar-brand img{
	min-width: 54px;
	min-height: 54px;
}
.title{
	display: block;
	margin-top: 20px;
}
.title .top{
	color: #1a2755;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 18px;
}
.title .bottom{
	color: #1a2755;
	font-size: 13px;
}
.menu{
	margin-top: 2.5%;
	margin-right: 8%;
	float: right;
	display: inline-block;
}
.navbar-default .navbar-nav li a{
	font-family: 'Open Sans', sans-serif;
	border-left: 1px solid #94a4c6;
	text-decoration: none;
	list-style-type: none;
	padding: 9px 12px;
	font-size: 14px;
	color:#1a2755;
}
.navbar-default .navbar-nav li:first-child a{
	border-left: none;
}
.navbar-default .navbar-nav li a:hover{
	color:#fff;
	background-color: #3b5998;
	border-radius: 4px;
	transition: all .3s;
}
.navbar-default .navbar-nav li a:focus{
	color:#fff;
	background-color: #3b5998;
	border-radius: 4px;
	transition: all .3s;
}
.jumbotron{
	height: 619px;
	width: 100%;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: 60%;
	position: relative;
	text-align: center;
	padding-top: 17%;
	font-size: 2.5em;
}
.jumbotron .red{
	color: #ff4747;
}
.jumbotron .coursename{
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	background-color: #f8f8f8;
	padding: 5px 20px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.jumbotron .courseinfo{
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	background-color: #f8f8f8;
	padding: 5px 20px;
	border-radius: 8px;
}
.jumbotron .courseinfo .upper{
	text-transform: uppercase;
}
.jumbotron .courseinfo .small-font{
	font-size: 0.7em;
	border-right: none !important;
}
.jumbotron .courseinfo span::after{
	content:'';
	border-right: 1px solid #7f92ba;
	padding-left: 15px;
}
.jumbotron .red-button{
	margin-top: 25px;
	position: relative;
}
.jumbotron .red-button a{
	padding: 10px 50px;
	background-color: #ff4747;
	color: #fff;
	border-radius: 8px;
	border: 1px solid #fff;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}
.jumbotron .red-button:before{
	position: absolute;
	content: '';
	background: url(../img/line.png) no-repeat;
	width: 64px;
	height: 44px;
	transform: rotate(235deg);
	
}
.jumbotron .red-button::after{
	position: absolute;
	content: '';
	background: url(../img/line2.png) no-repeat;
	width: 64px;
	height: 44px;
	transform: rotate(120deg);
	
}
.jumbotron .red-button a:hover{
	background:#fd6f6f;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	-ms-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}